{%- extends "apostrophe-modal:base.html" -%}
{%- import "apostrophe-modal:macros.html" as modals -%}
{%- import "apostrophe-ui:components/buttons.html" as buttons with context -%}
{%- import "locale-tree.html" as localeTree -%}

{%- block modalClass -%}
  apos-workflow-export-modal apos-ui-modal-no-sidebar
{%- endblock -%}

{%- block controls -%}
  {{ buttons.minor('Skip', { action: 'cancel' }) }}
  {{ buttons.major('Export', { action: 'save' }) }}
{%- endblock -%}

{%- block label -%}
  {{ __('Forcing export of %s item(s) (%s)', data.ids.length, data.locale) }}
{%- endblock -%}

{% block instructions %}
  <p>
    {{ __('You are forcing an export, which will copy the current draft(s) verbatim to other locales. Select them below, then click Export. Selecting the %s locale may still be helpful to select sub-locales.', data.locale, data.locale) }}
  </p>
{% endblock %}

{%- block body -%}
<div class="apos-workflow-export-locales">
  {{ localeTree.tree(
    'locales',
    [
      {
        name: 'locale'
      }
    ],
    data.nestedLocales)
  }}
</div>
{%- endblock -%}

{%- block footerContainer -%}{%- endblock -%}
