{%- extends "apostrophe-modal:base.html" -%}
{%- import "apostrophe-modal:macros.html" as modals -%}
{%- import "apostrophe-ui:components/buttons.html" as buttons with context -%}

{%- block modalClass -%}
  {{ 'apos-workflow-committable-modal' | css }} apos-ui-modal-no-sidebar
{%- endblock -%}

{%- block controls -%}
  {{ buttons.minor('Done', { action: 'cancel' }) }}
{%- endblock -%}

{%- block label -%}
  {{ __('Modified Documents') }}
{%- endblock -%}

{% block instructions %}
  <p>
    {{ __('Use the buttons provided to commit, revert or visit each document, or "Commmit All."') }}
  </p>
{% endblock %}

{%- block body -%}
  <div class="apos-manage-view" data-apos-manage-view="" data-apos-workflow-list>
    <div class="apos-table">
      <table data-items class="apos-manage-table">
        <thead data-headings>
          <tr>
            <th class="apos-manage-column">{{ __('Document') }}</th>
            <th class="apos-manage-column">{{ __('Type') }}</th>
            <th class="apos-manage-column">{{ __('Modified') }}</th>
            <th class="apos-manage-column">{{ __('Editor') }}</th>
            <th class="apos-manage-column">{{ __('Submitted?') }}</th>
            <th class="apos-manage-column">{{ __('Actions') }}</th>
          </tr>
        </thead>
        <tbody data-list>
        </tbody>
      </table>
    </div>
  </div>
{%- endblock -%}

{%- block footer -%}
  <div class="apos-modal-footer-inner">
    {#
    {%- block batch -%}
      {{ batch.operations(data.options.batchOperations) }}
    {%- endblock -%}
    #}
    <div class="apos-manage-pager" data-pager></div>
  </div>
{%- endblock -%}
