{% for doc in data.committable %}
  <tr data-apos-workflow-committable="{{ doc._id }}">
    {% if apos.utils.beginsWith(doc.slug, '/') %}
      <td><a href="{{ doc._url }}">{{ doc.title or doc.slug }}</a></td>
    {% else %}
      <td><a href="#" data-apos-edit-{{ doc.type }}="{{ doc._id }}">{{ doc.title or doc.slug }}</a></td>
    {% endif %}
    <td>{{ doc.type }}</td>
    <td>{{ doc.updatedAt | date('YYYY-MM-DD') }}</td>
    <td>{{ doc._lastEditor }}</td>
    <td>{% if doc.workflowSubmitted %}{{ __('Yes') }}{% else %}{{ __('No') }}{% endif %}</td>
    <td>
      {% if apos.utils.beginsWith(doc.slug, '/') %}
        <a href="{{ doc._url }}">{{ __('Edit') }}</a>
      {% else %}
        <a href="#" data-apos-edit-{{ doc.type }}="{{ doc._id }}">{{ __('Edit') }}</a>
      {% endif %}
      <a href="#" data-apos-workflow-commit="{{ doc._id }}">{{ __('Commit') }}</a>
      <a href="#" data-apos-workflow-revert-to-live="{{ doc._id }}">{{ __('Revert') }}</a>
    </td>
  </tr>
{% endfor %}
