{%- extends "apostrophe-modal:base.html" -%}
{%- import "apostrophe-modal:macros.html" as modals -%}
{%- import "apostrophe-ui:components/buttons.html" as buttons with context -%}
{%- import "locale-tree.html" as localeTree -%}

{%- block modalClass -%}
  apos-workflow-export-modal apos-ui-modal-no-sidebar
{%- endblock -%}

{%- block controls -%}
  {{ buttons.minor('Skip', { action: 'cancel' }) }}
  {{ buttons.major('Export', { action: 'save' }) }}
{%- endblock -%}

{%- block label -%}
  {{ __ns('apostrophe', 'Exporting changes from %s (%s)', data.commit.to.title or data.commit.to.slug, data.commit.locale) }}
{%- endblock -%}

{% block instructions %}
  <p>
    {{ __ns('apostrophe', 'This change is already committed for the %s locale. To push this change to additional locales, select them below, then click Export. Selecting the %s locale may still be helpful to select sub-locales.', data.commit.locale, data.commit.locale) }}
  </p>
{% endblock %}

{%- block body -%}
<div class="apos-workflow-export-locales">
  {{ localeTree.tree(
    'locales',
    [
      {
        name: 'locale',
        commitLocale: data.commit.locale
      }
    ],
    data.nestedLocales)
  }}
</div>
{%- endblock -%}

{%- block footerContainer -%}{%- endblock -%}
