{%- extends "apostrophe-modal:base.html" -%}
{%- import "apostrophe-modal:macros.html" as modals -%}
{%- import "apostrophe-ui:components/buttons.html" as buttons with context -%}
{%- import "locale-tree.html" as localeTree -%}

{%- block modalClass -%}
  apos-workflow-export-modal apos-ui-modal-no-sidebar
{%- endblock -%}

{%- block controls -%}
  {{ buttons.minor('Skip', { action: 'cancel' }) }}
  {{ buttons.major('Force Export', { action: 'save' }) }}
{%- endblock -%}

{%- block label -%}
  {{ __('Forcing export of %s (%s)', data.doc.title, data.doc.workflowLocale) }}
{%- endblock -%}

{% block instructions %}
  <p>
    {{ __('You are forcing an export, which will copy this draft verbatim to other locales. Select them below, then click Export. Selecting the %s locale may still be helpful to select sub-locales.', data.doc.workflowLocale, data.doc.workflowLocale) }}
  </p>
  {% if not data.lead %}
    <p>
      {{ __('This related item may also be visible. Please consider exporting it too for a more complete result.') }}
    </p>
    <p>
      {# Despite the data attribute name this will do the right operation here #}
      <a class="apos-workflow-shortcut" data-commit-all-related href="#">{{ __('Force Export all like this') }}</a>
      <a class="apos-workflow-shortcut" data-skip-all-related href="#">{{ __('Skip all like this') }}</a>
    </p>
  {% endif %}
{% endblock %}

{%- block body -%}
<div class="apos-workflow-export-option">
  <label for="related"><input type="checkbox" name="related">Also offer to force export related documents, such as images</label>
  <label for="relatedExisting"><input type="checkbox" name="relatedExisting">Offer to force export related documents even if they already exist in the target locale</label>
</div>
<div class="apos-workflow-export-locales">
  {{ localeTree.tree(
    'locales',
    [
      {
        name: 'locale'
      }
    ],
    data.nestedLocales)
  }}
</div>
{%- endblock -%}

{%- block footerContainer -%}{%- endblock -%}
