{%- macro picker(localizations, nestedLocales, crossDomainSessionToken) -%}
  <ul class="apos-workflow-locale-picker-items">
    {%- for locale in nestedLocales -%}
      {%- set localization = localizations[locale.name] or localizations[locale.name + '-draft'] -%}
      <li>
        {%- if localization and localization._url -%}
          <a 
            {% if crossDomainSessionToken %}
              data-apos-locale="{{ locale.name }}"
              data-apos-cross-domain-session-token="{{ crossDomainSessionToken }}"
            {% endif %}
            href="{{ localization._url }}">{{ locale.label or locale.name }}</a>
        {%- else -%}
          {# Still need tree visualization and access to kids #}
          <span class="apos-workflow-locale-unavailable">{{ locale.label or locale.name }}</span>
        {%- endif -%}
        {%- if locale.children -%}
          {{ picker(localizations, locale.children, crossDomainSessionToken) }}
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
{%- endmacro -%}

{%- extends "apostrophe-modal:base.html" -%}
{%- import "apostrophe-modal:macros.html" as modals -%}
{%- import "apostrophe-ui:components/buttons.html" as buttons with context -%}

{%- block modalClass -%}
  apos-workflow-locale-picker-modal apos-ui-modal-no-sidebar
{%- endblock -%}

{%- block controls -%}
  {{ buttons.minor('Cancel', { action: 'cancel' }) }}
{%- endblock -%}

{%- block label -%}
  {{ __('Switch Locales') }}
{%- endblock -%}

{% block instructions %}
  <p>
    {{ __('Click on any locale to switch to viewing it.') }}
  </p>
{% endblock %}

{%- block body -%}
<div class="apos-workflow-locale-picker">
  {{ picker(data.localizations, data.nestedLocales, data.crossDomainSessionToken) }}
</div>
{%- endblock -%}

{%- block footerContainer -%}{%- endblock -%}
