{% extends "baseModal.html" %}
{% include "uiMacros.html" %}
{% include "formMacros.html" %}

{% block modalClass %}
  apos-workflow-manager apos-ui-modal-no-sidebar
{% endblock %}

{% block modalLabel %}
  {{ __('Workflow Manager')}}
{% endblock %}

{% block modalControls %}
  {{ renderProgressBtn({dataAttrs: 'data-cancel', float: 'left', label: 'Done', arrow: 'left'}) }}
{% endblock %}

{% block modalInstructions %}
  <p data-none>There is currently no content awaiting your approval.</p>
  <p data-some>These pages have been submitted for approval, and you have the necessary privileges to approve them. Click to visit a page and approve content.</p>
{% endblock %}

{% block modalBody %}
  <table data-some class="apos-manage-table">
    <thead>
      <tr>
        <th>Page</th>
        <th>Author</th>
        <th>When</th>
        <th>Review</th>
      </tr>
    </thead>
    <tbody data-pages>
      <tr data-item class="apos-template">
        <td>
          <span>/chemistry</span>
        </td>
        <td><span data-author>Bob Smith</span></td>
        <td><span data-date>2014-07-01 11:00:00<span></td>
        <td>
          {{ renderProgressBtn({dataAttrs: 'data-slug', float: 'left', label: 'Review', color: 'base'}) }}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="apos-modal-footer">
  </div>

{% endblock %}