{% if edit %}
  <div class="apos-admin-bar-item">
    <a data-workflow-manager-button class="apos-button apos-workflow-manager-button" href="#">
      {{ __('Workflow') }}
      <span class="apos-workflow-manager-count" data-workflow-manager-count></span>
    </a>
  </div>
  <script>
    $el = $('[data-workflow-manager-button]');
    $count = $('[data-workflow-manager-count]');
    $.getJSON('/apos-workflow/load', {}, function(response) {
      $count.text(response.result.length);
      if (response.result.length == 0) {
        $count.addClass('disabled');
      }
      console.log(response);
    });
  </script>
{% endif %}
