{%- import 'apostrophe-ui:components/buttons.html' as buttons -%}

<div class="apos-workflow-menu" data-apos-workflow-menu>
  {% if data.localized %}
  	{{ buttons.normal('Locale: ' + data.workflow.locale, { action: 'admin-bar-item', value: 'apostrophe-workflow-locale-picker-modal' }, 'apos-workflow-locale-button' ) }}
  {% endif %}

	<div class="apos-dropdown apos-dropdown--button apos-dropdown--up apos-workflow-state" data-apos-dropdown="up" data-apos-actionable="">
		<a class="apos-button apos-workflow-state-toggle" data-apos-dropdown-button-label="" style="padding-right: 20px;">
			<span class="apos-button-label">Mode: {{ data.workflowMode | capitalize }}</span>
		</a>
		<ul class="apos-dropdown-items" data-apos-dropdown-items="">
			{% if data.workflowMode == 'draft' %}
				<li class="apos-dropdown-item" data-apos-workflow-mode="live">Live</li>
			{% else %}
				<li class="apos-dropdown-item" data-apos-workflow-mode="draft">Draft</li>
			{% endif %}
		</ul>
  </div>

  {% if data.workflowMode == 'draft' %}
    <div class="apos-button apos-button--group">
      {{ buttons.disabled('Submitted', { action: 'workflow-submitted' }) }}
      {{ buttons.inGroup('Submit', { action: 'workflow-submit' }) }}
      {{ buttons.inGroup('Commit', { action: 'workflow-commit' }) }}
      {{ buttons.inGroup('Revert', { action: 'workflow-revert' }) }}
    </div>
  {% endif %}
</div>
