{%- import 'apostrophe-ui:components/buttons.html' as buttons -%}

{%- set workflowMode = data.workflowMode -%}
{% if data.workflowPreview %}
  {%- set workflowMode = 'preview' -%}
{% endif %}

<div class="apos-workflow-menu" data-apos-workflow-menu>
  {% if data.localized %}
  	{{ buttons.normal('Locale: ' + data.workflow.locale, { action: 'admin-bar-item', value: 'apostrophe-workflow-locale-picker-modal' }, 'apos-workflow-locale-button' ) }}
  {% endif %}

	<div class="apos-dropdown apos-dropdown--button apos-dropdown--up apos-workflow-state" data-apos-dropdown="up" data-apos-actionable="">
		<a class="apos-button apos-workflow-state-toggle" data-apos-dropdown-button-label="" style="padding-right: 20px;">
			<span class="apos-button-label">{{ __ns('apostrophe', 'Mode:') + ' ' + __ns('apostrophe', workflowMode | capitalize) }}</span>
		</a>
		<ul class="apos-dropdown-items" data-apos-dropdown-items="">
      {% if workflowMode == 'preview' %}
        <li class="apos-dropdown-item" data-apos-workflow-mode="live">{{ __ns('apostrophe', 'Live') }}</li>
        <li class="apos-dropdown-item" data-apos-workflow-mode="draft">{{ __ns('apostrophe', 'Draft') }}</li>
			{% elseif workflowMode == 'draft' %}
				<li class="apos-dropdown-item" data-apos-workflow-mode="live">{{ __ns('apostrophe', 'Live') }}</li>
        <li class="apos-dropdown-item" data-apos-workflow-mode="preview">{{ __ns('apostrophe', 'Preview') }}</li>
			{% else %}
				<li class="apos-dropdown-item" data-apos-workflow-mode="draft">{{ __ns('apostrophe', 'Draft') }}</li>
        <li class="apos-dropdown-item" data-apos-workflow-mode="preview">{{ __ns('apostrophe', 'Preview') }}</li>
			{% endif %}
		</ul>
  </div>

  {% if data.workflowMode == 'draft' %}
    <div class="apos-button apos-button--group">
      {{ buttons.disabled('Submitted', { action: 'workflow-submitted' }) }}
      {{ buttons.inGroup('Submit', { action: 'workflow-submit' }) }}
      {{ buttons.inGroup('Commit', { action: 'workflow-commit' }) }}
    </div>
  {% endif %}
</div>
