{# Similar to the commit modal, this modal allows us to review an existing commit's diff in the
  preview iframe and decide whether to export it to more locales. #}
  
{%- extends "apostrophe-modal:base.html" -%}
{%- import "apostrophe-modal:macros.html" as modals -%}
{%- import "apostrophe-ui:components/buttons.html" as buttons with context -%}

{%- block modalClass -%}
  apos-workflow-review-modal apos-ui-modal-no-sidebar
{%- endblock -%}

{%- block controls -%}
  {{ buttons.minor('Cancel', { action: 'cancel' }) }}
  {{ buttons.major('Export', { action: 'save' }) }}
{%- endblock -%}

{%- block label -%}
  {{ __('Reviewing past commit to %s (%s)', data.doc.title or data.doc.slug, data.doc.workflowLocale) }}
{%- endblock -%}

{% block instructions %}
  <p>
    {{ __('Click Export to send these past changes to more locales.') }}
  </p>
{% endblock %}

{%- block body -%}
  {% if data.modifiedFields.length %}
    <div class="apos-workflow-modified-fields">
      <p>{{ __('Modified fields: %s', data.modifiedFields | join(', ')) }}</p>
      <p class="apos-workflow-hint">Also see below for content edited in context.</p>
    </div>
  {% endif %}
  <div class="apos-workflow-preview">
    {% if data.doc._url %}
      <iframe class="apos-workflow-preview-iframe" src="{{ data.doc._url | build({ workflowReview: data.commit._id }) }}"></iframe>
    {% else %}
      <p class="apos-workflow-no-preview">No preview available.</p>
    {% endif %}
  </div>
{%- endblock -%}

{%- block footerContainer -%}{%- endblock -%}
