.apos-workflow-wrapper
{
  position: fixed;
  bottom: 14px;
  left: 100px;
  z-index: 900;
  line-height: 33px;

  .apos-pill
  {
    float: left;
    margin-right: 10px;
    margin-left: 0;
  }

  .apos-progress-btn
  {
    padding: 10px 11px;
    .transition();
    &:before
    {
      width: 23px;
      height: 24px;
      top: 4px;
    }

    &.disabled
    {
      opacity: 0.3;
      cursor: default;
    }
  }
}

.apos-workflow-help
{
  margin: 10px;
  padding: 10px;
  text-transform: none;
  background-color: #def;
}


.apos-workflow-mode,.apos-workflow-approve-changes
{
  color: #00f;
  display: inline-block;
  background-color: #def;
  border: 1px dotted #ccc;
  padding: 4px;
}

.apos-workflow-mode:hover,.apos-workflow-approve-changes:hover
{
  color: #00f;
  border: 1px dotted white;
}

.apos-workflow-mode.apos-current
{
  color: black;
}

.apos-workflow-manager-count
{
  .apos-bg-gradient(@apos-orange-dark, @apos-orange-light);
  border-radius: 3px;
  padding: 7px 8px;
  border: 1px solid @apos-base;
  text-shadow: .2em .1em @apos-base;
  color: white;
  .transition();

  &.disabled
  {
    background: @apos-grey50;
    border: 1px solid @apos-grey20;
    text-shadow: .2em .1em @apos-grey20;
    opacity: 0.5;
  }
}

// .collapsed 
// {
//   .apos-workflow-manager-count
//   {
//     position: absolute;
//     right: -10px;
//     top: 5px;
//   }
// }