.apos-workflow-menu
{
  // Shown by JavaScript when the UI code is ready to deal with it
  display: none;
  button {
    &.apos-workflow-current {
      background-color: black;
      color: white;
    }
  }
}

.apos-workflow-preview
{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: scroll;
  transform: scale(0.8);
}

.apos-workflow-preview-page
{
  .apos-ui {
    display: none;
  }
}

.apos-workflow-widget-moved::before
{
  content: '↑↓';
  position: static;
  z-index: 1000;
  color: blue;
  font-weight: bold;
  font-size: 24px;
}

.apos-workflow-widget-deleted::before
{
  content: 'ⓧ';
  position: static;
  z-index: 1000;
  color: red;
  font-weight: bold;
  font-size: 24px;
}

.apos-workflow-widget-changed::before
{
  content: '!';
  position: static;
  z-index: 1000;
  color: orange;
  font-weight: bold;
  font-size: 24px;
}

.apos-workflow-field-controls
{
  float: right;
}

.apos-workflow-live-field
{
  // There is also jQuery to prevent keyboard events.
  pointer-events: none;
  label:first-child {
    // Allow clicks on the live/draft toggle
    pointer-events: auto;
  }
  .apos-field:first-child {
    display: none;
  }
}

.apos-workflow-field-current
{
  font-weight: bold;
  color: black;
}

.apos-ui .apos-field.apos-workflow-field-changed
{
  border: 1px solid purple;
}

.apos-workflow-live-page {
  // Everything except the live/draft toggle should be unavailable in live mode
  .apos-ui .apos-context-menu-container .apos-context-menu {
    display: none;
  }
}