.apos-workflow-menu
{
  // Shown by JavaScript when the UI code is ready to deal with it
  display: none;
  button {
    &.apos-workflow-current {
      background-color: black;
      color: white;
    }
  }
}
