@addColor: #9fecb3;
@removeColor: #f44336;
@movedColor: #ff9800;


@import 'schemas.less';
@import 'menu.less';
@import 'expand.less';

.apos-ui .apos-workflow-preview
{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  margin-top: -40px;
  padding: 0;
  transform: scale(0.8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 10px 190px 0 rgba(0,0,0,.25);
  &::before {
    content: "● ● ●";
    color: #ffffff;
    text-align: left;
    font-size: 1.5em;
    background: #272727;
    display: block;
    padding: 6px 8px 11px 13px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.apos-workflow-preview-iframe
{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

.apos-workflow-preview-page
{
  .apos-ui {
    display: none;
  }
}

.apos-workflow-widget-diff
{
  position: relative;
  &::before {
    position: absolute;
    height: 100%;
    width: 60px;
    z-index: 1000;
    left: -1px;
    top: -3px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    opacity: 0.8;
    font-family: 'FontAwesome';
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
  }
}

.apos-workflow-widget-diff--new { border: 2px solid @addColor; }
.apos-workflow-widget-diff--new::before { content: ""}
.apos-workflow-widget-diff--new::before,
.apos-workflow-widget-diff--new::after { background-color: @addColor; }

.apos-workflow-widget-diff--deleted {  border: 2px solid @removeColor; }
.apos-workflow-widget-diff--deleted::before { content: ""; }
.apos-workflow-widget-diff--deleted::before,
.apos-workflow-widget-diff--deleted::after { background-color: @removeColor; }

.apos-workflow-widget-diff--moved {  border: 2px solid @movedColor; }
.apos-workflow-widget-diff--moved::before { content: " "; }
.apos-workflow-widget-diff--moved::before,
.apos-workflow-widget-diff--moved::after { background-color: @movedColor; }

.apos-workflow-widget-diff--changed {  border: 2px solid @movedColor; }
.apos-workflow-widget-diff--changed::before { content: ""; }
.apos-workflow-widget-diff--changed::before,
.apos-workflow-widget-diff--changed::after { background-color: @movedColor; }

.apos-workflow-no-preview
{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  font-size: 28px;
}

.apos-workflow-live-page {
  // Everything except the live/draft toggle should be unavailable in live mode
  .apos-ui .apos-context-menu-container .apos-context-menu {
    display: none;
  }
}

.apos-ui .apos-workflow-locale-tree {
  margin-left: 1em;
  li {
    margin-top: 4px;
    .apos-workflow-locale-input--disabled > label,
    .apos-workflow-locale-input--disabled > .apos-workflow-locale-label {
      opacity: 0.7;
    }
    .apos-workflow-locale-control-label--committed {
      font-weight: bold;
      small {
        color: @apos-mid;
        font-size: 0.8em;
        font-weight: normal;
      }
    }
  }
}

.apos-ui .apos-workflow-locale-label {
  margin-right: 12px;
}

.apos-ui .apos-workflow-locale-checkbox {
  font-size: 80%;
}

.apos-ui .apos-workflow-locale-checkbox-label {
  font-size: 80%;
}

.apos-ui .apos-workflow-permissions {
  margin-bottom: 12px;
  .apos-workflow-permissions-label {
    margin-top: 12px;
  }
  .apos-workflow-locale-tree {
    display: none;
  }
}

.apos-ui .apos-workflow-locale-picker,
.apos-ui .apos-workflow-export-locales {
  height: 100%;
  max-width: 740px;
  margin-left: 220px;
  padding-top: @apos-padding-2;
  background-color: @apos-white;
}

.apos-ui .apos-workflow-locale-picker-items,
.apos-ui .apos-workflow-locale-tree {
  padding-left: 1em;
  margin-left: 7px; 

  a { color: #000; }

  ul {
    border-left: 2px dashed @apos-primary;    
  }
}

.apos-ui.apos-workflow-locale-picker-modal .apos-workflow-locale-unavailable {
  text-decoration: line-through;
}

.apos-ui.apos-workflow-history-modal {
  .apos-workflow-history-created-at {
    width: 200px;
  }
  
  .apos-table td a {
    display: inline;
    padding-right: 24px;
  }
}

.apos-ui .apos-workflow-modified-fields, .apos-ui .apos-workflow-related {
  // To position/size same as the preview
  width: 64%;
  margin: 24px 0 12px 18%;
  .apos-workflow-hint {
    font-weight: normal;
  }
}

.apos-ui .apos-workflow-related {
  h3 {
    font-size: 125%;
  }
  p {
    font-weight: normal;
  }
}

.apos-ui .apos-workflow-preview-image {
  display: block;
  margin: auto;
  margin-top: 24px;
}

.apos-area [data-apos-workflow-force-export-widget] {
  display: none;
}

.apos-area.apos-workflow-committable [data-apos-workflow-force-export-widget] {
  display: inline-block;
}

.apos-ui .apos-workflow-shortcut {
  display: inline-block;
  padding: 8px 16px 0 0;
}